@font-face {
    font-family: 'Turtle';
    src: url(../fontes/turtles/Turtles.otf);
}


body{
    margin: 0px;
    padding: 0px;

    background-color: black;

    font-family: 'Turtle';
}



.container{

    max-width: 50%;
    margin: auto;
    margin-bottom: 20px;
    height: 500px;
    

}

.content{
    max-width: auto;
    margin: auto;
    font-size: 20px;
    padding: 2px;
   
}

.description{
    font-size: 65px;
    text-align: center;
    color: rgb(5, 121, 5);
    text-shadow: 3px 1px 3px #ffffff;

}

img{

    margin: auto;
    width: 50%;
    height: auto;
    float: left; 
    
        
}

.box{
    margin: 50px;
}


.paragraph{
   
    color: white;
    
}



.footer{
    
    max-width: auto;

    margin-top: 300px;
   
}

p{
    margin: auto;
    color: white;
    text-align: center;
    font-size: 20px;
}



